node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.DS_Store
.metro-health-check*
coverage
graph.svg
.env
build-storybook.log
storybook-static
.sentryclirc